name: CI

on:
  push:
  pull_request:

jobs:
  web:
    name: ci / web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm

      - name: Install
        run: npm ci

      - name: Typecheck
        run: npm run check

      - name: Build
        run: npm run build

  deploy-do:
    name: deploy / digitalocean-app-platform
    runs-on: ubuntu-latest
    needs:
      - web
    env:
      DO_API_TOKEN: ${{ secrets.DO_API_TOKEN }}
      DO_REGISTRY_WEB_APP_ID: ${{ secrets.DO_REGISTRY_WEB_APP_ID }}
    if: >
      github.event_name == 'push' &&
      github.ref == 'refs/heads/main' &&
      env.DO_API_TOKEN != '' &&
      env.DO_REGISTRY_WEB_APP_ID != ''
    steps:
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ env.DO_API_TOKEN }}

      - name: Trigger deployment
        run: doctl apps create-deployment ${{ env.DO_REGISTRY_WEB_APP_ID }}
